.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__info>button {
  background: #f0c14b;
  border: none;
  margin-top: 10px;
  padding: 5px 10px;
  color: #111;
  border-radius: 2px;
}

.checkoutProduct__info>button:hover {
  background-color: #e9a700;
}

.checkoutProductRating__img {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}

@media only screen and (max-width: 500px) {

  .checkoutProduct__title {
    font-size: 0.8em;
    font-weight: 400;
  }

  .checkoutProductRating__img {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .checkoutProduct__rating {
    display: none;
  }
}
