.payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.payment__container {
  max-width: 80vw;
  border-radius: 10px;
  background: white;
}

.payment h1 {
  text-align: center;
  padding-bottom: 0.5em;
}

.payment__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
}

.payment__title {
  flex: 0.2;
}

.payment__address,
.payment__items,
.payment__details {
  flex: 0.8;
}

.payment__details > form {
  max-width: 400px;
}

.payment__details > h3 {
  padding-bottom: 20px;
}

.payment__buyNow {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: none;
  font-family: inherit;
  font-weight: bolder;
  margin-top: 10px;
  color: #111;
  cursor: pointer;
}

.payment__buyNow:disabled {
  background: #806a33;
  cursor: not-allowed;
}

.payment__validation {
  color: red;
  margin: 3px auto;
}

.payment__priceContainer {
  font-size: 0.8em;
  margin: 6px auto;
  font-weight: 700;
}

@media only screen and (max-width: 690px) {
  .payment__section {
    flex-direction: column;
  }
  .payment__title {
    margin-bottom: 20px;
  }
}
