.Header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important ;
  background-color: #febd69;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius:40px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: 0px solid black; 
  width: 100%;
  border-radius: 5px 0px 0px 5px;
}


.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
}
.header__basketCount {
    margin-right: 10px;
    margin-left: 10px;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}