.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  min-width: 100px;
  max-height: 400px;
  background-color: white;
  z-index: 1;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background: #f0c14b ;
  border: 1px solid;
  margin-top: 10px;
  padding: 6px;
  border-radius: 4px;
  border-color: #a88734 #9c7e31 #846a29;
}

.product__price{
    margin-top: 5px;
}

.product__rating{
  display: flex;
}

.product__info{
  height: 100px;
  margin-bottom: 15px;
}




